@import 'sass_modules/login';
@import "compass/css3";

/* Color Palette */

$standardBlue : #458699;

/* END Color Palette */

/* Helper Classes */

.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

.img-icon {
  width: 20px;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}

.state {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;

  &.Active {
    background-color: #2296F3;
  }

  &.Paused {
    background-color: #FF9800;
  }
}

.ui-tooltip {
  background: rgba(10,10,10,0.66) !important;
  box-shadow: 0px 0px 0px !important;
  border: 0px !important;
  @include border-radius(2px !important);
}

.ui-tooltip-content {
  background: transparent;
}

a {
  text-decoration: none;
}
  
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
  
  &.top {
    top: -16px;
    bottom: auto;

    &:after {
      bottom: -20px;
      top: auto;
    }
  }

  &.left {
    left: 20%;
  }

  &:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: rgba(10, 10, 10, 0.66);
  }

}

form {
  .mdl-textfield {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;

    & > li {
      display: inline;
    }
}

/* END Helper Classes */

.progress {
  margin: 10px auto;
}

@media screen and (min-width: 0px) {
  .progress{
  width: 20%;
  }
}

@media screen and (min-width: 150px) {
  .progress{
  width: 30%;
  }
}

@media screen and (min-width: 300px) {
  .progress{
  width: 40%;
  }
}

@media screen and (min-width: 450px) {
  .progress{
  width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .progress{
  width: 60%;
  }
}

@media screen and (min-width: 850px) {
  .progress{
  width: 70%;
  }
}

@media screen and (min-width: 1150px) {
  .progress{
  width: 80%;
  }
}

.progress-bar {
  min-height: 15px;
  display: inline-block;
}

.progress-bar-running {
  background-color: #2296F3;
}

.progress-bar-success {
  background-color: #009688;
}

.progress-bar-waiting {
  background-color: #FF9800;
}

.progress-bar-pending {
  background-color: #9E9E9E;
}

.progress-bar-failed {
  background-color: #D32E2E;
}

body {
  color: $standardBlue;
}


nav {
  padding-top: 0 !important;

  a {
    position: relative;
    padding: 16px 20px !important;

    &:hover {
      .material-icons {
        color: #37474F !important;
      }

      .overlay {
        background-color: #37474F !important;
        color: #00BCD4 !important;
      }
    }

    &.running-link {
      background-color: #2296F3;
    }

    &.failed-link {
      background-color: #D32E2E;
    }

    &.succeeded-link {
      background-color: #009688;
    }

    &.pending-link {
      background-color: #9E9E9E;
    }

    &.waiting-link {
      background-color: #FF9800;
    }

    .material-icons {
      margin-right: 16px !important;
    }

    .highlight-number {
      font-size: 28px;
      width: 36px;
      text-align: right;
      margin-right: 5px;
      line-height: 30px;
    }

    .big-highlight-number {
      font-size: 36px;
      text-align: left;
      margin-right: 20px;
    }
  }

  .queue-name {
    font-size: 18px;
  }

  .overlay {
    margin: 4px 0 0 -36px;
    z-index: 2;
    font-size: 16px !important;
    height: 16px;
    line-height: 16px;
    color: #37474F !important;
    background-color: #A7AEB2 !important;
  }
}

header {
  .username {
    font-size: 16px;
  }
}

.qdo-header {
	.logout-btn {
		border: none;
		background-color: transparent;
		width: 32px;
		height: 32px;
		border-radius: 64px;
		margin: 0 4px;

    	&:hover {
		    background-color: #dedede;
    	}

		img {
			width: 16px;
			background-color: transparent;
	    border: none;
 			margin-top: -4px;
    	}
	}
}

menu {
  .add-task-btn {
    position: absolute;
    right: 72px;
    top: -20px;

    i {
      font-size: 20px;
      margin-left: 1px;
      margin-top: 1px;
    }
  }
}

main {

  & > section {

    &.mdl-grid {
      margin-top: 32px;
    }

    & > div, & > table {
      width: 95%;
      margin: 0 auto;
    }
  }

  .queue-page {
    .state {
      vertical-align: middle;
      margin: 24px 15px;
    }

    .search-task-btn {
      position: absolute;
      right: 5%;
    }
  }

  .create-queue-page {
    display: none;
    padding: 50px;

    h4 {
      button {
        font-size: 16px;
        font-weight: 300;
        margin-top: -3px;
        color: #323232;
      }
    }
  }

  .create-queue-btn, .launch-queue-btn {
    position: absolute;
    right: 20px;
    top: -20px;
  }

  .qdo-page {
    padding: 20px;
  }

  .multi-select-bar, .action-bar {
    padding-left: 0;
    width: 100%;
  }

  .pagination {
    margin: 0;
  }

  .qdo-table {
    
    .wide-col {
      width: 200px;
    }

    thead {
      th {
        border-right: none;
        border-left: none;

        .material-icons {
          vertical-align: inherit;
        }
      }
    }

    tr {
      &:hover {
        .queue-controls {
          display: block;
          opacity: 1;
        }

        td {
          padding-top: 15px;
        }
      }
    }

    .task-id {
      max-width: 200px;
      text-overflow: ellipsis;
    }

    tbody {
      td {
        border-right: none;
        border-left: none;

        padding: 0 16px;
        vertical-align: middle;

        .queue-controls {
          padding: 5px 0;

          .mdl-button--icon {
            .material-icons {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .queue-controls {
    display: none;
    opacity: 0;
    transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
  }

  .button-bar {

    input, button {
      display: block;
      text-align: center;
      margin: 10px auto;

    }

    input[type="submit"] {
      width: 300px;
    }
  }

  .queue-info {
    width: 100%;

    .progress {
      max-width: 100px;
      display: inline-block;
      margin: 0;
    }
  }

  .add-task-dialog, .launch-queue-dialog {
    display: none;
    padding: 50px;

    .mdl-textfield {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .full-width {
      width: 300px;
    }
  }
}

ul {
  &.search-results {
    list-style: none;
    padding: 10px 15px;
    background: white;
    position: absolute;
    top: 55px;
    right: -10px;
    width: 200px;
    border: 1px solid #ccc;
    max-height: 160px;
    overflow: scroll;
    box-shadow: 1px 1px 2px rgba(32,32,32,0.3);
  }
}

.search-btn {
    label {
        bottom: 15px !important;
    }

    .mdl-textfield__expandable-holder {
        margin-left: 36px;
    }
}
