<!--html temlpate for the login page, an introduction to qdo. child html template or 'partial html'-->


<h1>Welcome to qdo!</h1>
   <p class="lead"> qdo (kew-doo) is a lightweight high-throughput queuing system for workflows that have many small tasks to perform. It is designed for situations in which the number of tasks to perform is much larger than the practical limits of the underlying batch job system. Its interface emphasizes simplicity while maintaining flexibility. Enjoy! </p>

   <!--ng-submit is an angularjs directive that allows an input element to do the action value or the action caused by clicking on the button inside the form html tags when pressing the enter key-->

   <form ng-submit="">
	<div>
	  Username:
	    <input type="text" ng-model="username"> <!--ng-model is an angularJS directive that stores the input in a $scope variable for that template-->
	</div>
	<div style="margin-top:5px;">
	  <span style="margin-right:3px;">Password:</span>
	    <input type="password" ng-model="password"> <!--ng-model is an angularJS directive that stores the input in a $scope variable for that template-->
	    <button class="glyphicon text" ng-click="logIn()" >Log in</button> <!--ng-click is an angularJS directive that can call a $scope javascript function-->
	    <p ng-if="!credentialsAuthorized" class="failed" style="margin-top:3px;"> {{error}}</p><!--ng-if is an angular directive, credentials authorized is a javascript $scope function, outside directives surround javascript code with curly brackets-->
	    <br>
	    
	    <!--this message appearing during remote setup upon first use. -->
	    <div class="runningActive" ng-if="dataLoading">
		Updating qDO remote setup. It may take 30 seconds...
		</div>
	</div>
	</form>