<link rel="stylesheet" href="stylesheets/login.css">

<hgroup>
  <h1>qdo</h1>
</hgroup>
<form ng-submit="logIn()">
  <div class="group">
    <input type="text" ng-model="username" autofocus><span class="highlight"></span><span class="bar"></span>
    <label>Username</label>
  </div>
  <div class="group">
    <input type="password" ng-model="password"><span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>
  <!--button type="button" class="button buttonBlue" ng-click="logIn()">Login
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button-->
  <input type="submit" type="button" class="button buttonBlue" ng-click="logIn()" value="Login">
</form>
<footer>
  <span id="explanation" class="tooltip" title=" qdo (kew-doo) is a lightweight high-throughput queuing system for workflows that have many small tasks to perform. It is designed for situations in which the number of tasks to perform is much larger than the practical limits of the underlying batch job system. Its interface emphasizes simplicity while maintaining flexibility. Enjoy! ">What is qdo?</span>
</footer>
<script type="text/javascript" src="js/login.js"></script>