  <i data-page="queues"></i>
  <header class="qdo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">qdo</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" />
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button ng-click="logOut()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
        Logout
      </button>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        <span class="username">{{username}}</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href="">
        <span class="big-highlight-number">{{nqueues}}</span>
        <span>queues running</span>
      </a>
      <a class="mdl-navigation__link running-link" href="">
        <i class="material-icons">assignment</i>
        <span class="highlight-number">{{ntasks()}}</span><br>
        <span>tasks running</span>
      </a>
      <a class="mdl-navigation__link failed-link" href="">
        <i class="material-icons">assignment</i>
        <i class="material-icons overlay">clear</i>
        <span class="highlight-number">{{ntasks('*','Failed')}}</span><br>
        <span>tasks failed</span>
      </a>
      <a class="mdl-navigation__link succeeded-link" href="">
        <i class="material-icons">assignment_turned_in</i>
        <span class="highlight-number">{{ntasks('*','Succeeded')}}</span><br>
        <span>tasks succeeded</span>
      </a>
      <a class="mdl-navigation__link pending-link" href="">
        <i class="material-icons">assignment_late</i>
        <span class="highlight-number">{{ntasks('*','Pending')}}</span><br>
        <span>tasks pending</span>
      </a>
      <a class="mdl-navigation__link waiting-link" href="">
        <i class="material-icons">assignment</i>
        <i class="material-icons overlay">access_time</i>
        <span class="highlight-number">{{ntasks('*','Waiting')}}</span><br>
        <span>tasks waiting</span>
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col js-queue-list-page relative" id="test">
      <div>
        <h4>Queues</h4>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored js-create-queue-btn create-queue-btn" title="Create new queue" ng-click="toggleCreateQueuePage()">
          <i class="material-icons">add</i>
        </button>
        <menu class="multi-select-bar js-multi-select-bar">
          <button disabled ng-click="multiQueuePause()" id="multi-pause" title="Pause selected queues" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">pause</span>
          </button>
          <button disabled ng-click="multiQueueResume()" id="multi-resume" title="Resume selected queues" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">play_arrow</span>          
          </button>
          <button disabled ng-click="multiQueueRerun()" id="multi-rerun" title="Rerun selected queues" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">refresh</span>
          </button>
          <button disabled ng-click="multiQueueRetry()" id="multi-retry" title="Retry selected queues" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="icon-data22"></span>
          </button>
          <button disabled type="button" ng-dialog="deleteModal" ng-dialog-controller="deleteQueueController" ng-dialog-show-close="false" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">clear</span>
          </button>
          <div class="mdl-tooltip" for="multi-retry">Retry selected queues</div>
          <button disabled ng-click="multiQueueDelete()" id="multi-delete" title="Delete selected queues" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="icon-exit"></span>
          </button>
        </menu>
        
      </div>
      <label for="pagination-select">Page Size:</label>
      <select name="pagination-select" ng-model="itemsPerPage" convert-to-number>
        <option selected value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <div dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" class="pagination ta-r" template-url="../pagination/dirPagination.tpl.html"></div>
      <table class="qdo-table js-queues-table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="ta-c"><input type="checkbox" ng-model="checked" ng-change="checkAllQueues = !checkAllQueues; toggleAllQueues(); toggleMultiSelectBar()"></th>
            <th ng-click="sortField = 'name'; sortReverse = !sortReverse" class="ta-l">
              Queue
              <i class="material-icons" ng-show="sortField == 'name' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'name' && sortReverse">arrow_drop_down</i>
            </th>
            <th ng-click="sortField = 'state'; sortReverse = !sortReverse" class="ta-c wide-col">
              Status/Actions
              <i class="material-icons" ng-show="sortField == 'state' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'state' && sortReverse">arrow_drop_down</i>
            </th>
            <th ng-click="sortField = ''; sortReverse = !sortReverse">
              Tasks
              <i class="material-icons" ng-show="sortField == '' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == '' && sortReverse">arrow_drop_down</i>
            </th>
            <th class="ta-l">
              Overview
            </th>
          </tr>
        </thead>
        <tbody >
          <tr dir-paginate="queue in queues | itemsPerPage: itemsPerPage | orderBy:sortField:sortReverse">
            <td class="ta-c">
              <input type="checkbox" ng-model="checked" ng-change="checkQueue({{ queue }}, {{ $index }}); toggleMultiSelectBar()" ng-checked="{{ queue.checked }}" class="js-check-table">
            </td>
            <td class="ta-l"><a ng-href="/index.html#/home/{{username}}/queues/{{queue.name}}"> {{ queue.name }} </a></td>
            <td class="ta-c wide-col">
              <span class="state {{queue.state}}">{{ queue.state }}</span>
              <div class="queue-controls">
                <button ng-if="isPaused(queue)" ng-click="resume(queue.name)" id="play-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" title="Resume queue">
                  <span class="material-icons">play_arrow</span>
                </button>
                <button ng-if="isActive(queue)" ng-click="pause(queue.name)" id="pause-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" title="Pause queue">
                  <span class="material-icons">pause</span>
                </button>
                <button ng-click="rerun(queue.name)" id="rerun-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" title="Rerun tasks">
                  <span class="material-icons">refresh</span>
                </button>
                <button ng-click="retry(queue.name)" id="retry-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" title="Retry failed tasks">
                  <span class="material-icons">replay</span>
                </button>
                <button id="delete-{{$index}}" class="mdl-button mdl-js-button mdl-button--icon" data-queue="{{queue.name}}" ng-click="deleteQueue($event)" title="Delete queue">
                  <span class="material-icons">clear</span>
                </button>
              </div>
            </td>
            <td>{{ ntasks(queue) }}</td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%">
                </div>
                <div class="progress-bar progress-bar-running" style="width: {{ percent(queue, 'Running') }}%">
                </div>
                <div class="progress-bar progress-bar-waiting" style="width: {{ percent(queue, 'Waiting') }}%">
                </div>
                <div class="progress-bar progress-bar-failed" style="width: {{ percent(queue, 'Failed') }}%">
                </div>
                <div class="progress-bar progress-bar-pending" style="width: {{ percent(queue, 'Pending') }}%">
                </div>
              </div>   
            </td>
          </tr>
        </tbody>
      </table>
      <div dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" class="pagination ta-r" template-url="../pagination/dirPagination.tpl.html"></div>
      <label for="pagination-select-2">Page Size:</label>
      <select name="pagination-select-2" ng-model="itemsPerPage" convert-to-number>
        <option selected value="10">10</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </section>
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col create-queue-page js-create-queue-page">
      <button class="mdl-button mdl-js-button" ng-click="toggleCreateQueuePage()">
        < Back
      </button>
      <div class="ta-c">
        <h4>Create Queue
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" title="Add one task per line. Provide one priority for all tasks or a distinct one for each task">
            ?
          </button>
        </h4>
        <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample3" ng-model="newQueueName" required/>
            <label class="mdl-textfield__label" for="sample3">Queue Name</label>
          </div>
          <!-- Re-enable this button later -->
          <!--h6>Add Tasks (Optional)</h6>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ng-model="taskList"></textarea>
            <label class="mdl-textfield__label" for="sample5">Task(s)</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ng-model="priorityList"></textarea>
            <label class="mdl-textfield__label" for="sample3">Priority</label>
          </div-->
          <div class="button-bar">
            <input type="submit" value="Go" ng-click="createQueue()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="createQueue()">
            <button ng-click="toggleCreateQueuePage()" class="mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
            <!-- Re-enable this button later -->
            <!--button class="mdl-button mdl-js-button mdl-button--accent" ng-click="createAndLaunch()">
              Create and Launch
            </button-->
          </div>
        </form>
      </div>
    </section>
  </main>

  <!-- DELETE MODAL WINDOWs-->
  <!--uses angularjs  ng-modal to create a dialog window-->

  <script type="text/ng-template" id="deleteSuccessfulQueueModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
      <img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>
      <span class="pull-right">
        <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button> 
        <!--ng-click called a controller function-->
        <button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="deleteModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
    <!--{//{queuename}} is passed in from the global variable created in storeQueueName(queuename) -->
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
      <p class="failed">WARNING: This queue has unfinished tasks.</p>
      <img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>

      <span class="pull-right">
        <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button>
        <!--ng-click called a controller function-->
        <button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>

  <!--script type="text/ng-template" id="deleteSuccessfulQueueModal">
    <div class= "ng-modal-dialog">
      <div class = "ng-modal-dialog-content">
        <p>Are you sure you want to delete these queues? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
        <!--img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>
        <span class="pull-right">
          <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button> 
          <!--ng-click called a controller function-->
          <!--button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
        </span>
      </div>
    </div>
  </script-->
  <script>
    var btn = document.getElementsByClassName('mdl-js-textfield');
    componentHandler.upgradeElements(btn);
  </script>