  <i data-page="{{ queue.qdo_result.name }}"></i>
  <header class="qdo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <a href="./index.html#/home/{{username}}">
        <span class="mdl-layout-title">qdo</span>
      </a>
      <span class="mdl-layout-title">&nbsp;/&nbsp;{{ queue.qdo_result.name }}</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield js-search-btn search-btn mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" ng-model="searchText" placeholder="Search for queues"/>
          <label class="mdl-textfield__label" for="search"></label>
        </div>
        <ul class="js-search-results search-results" ng-show="searchText">
          <li ng-repeat="queue in queues | filter:searchText">
            <a href="/index.html#/home/{{username}}/queues/{{ queue.name }}">{{ queue.name }}</a>
          </li>
        </ul>
      </div>  
      <button ng-click="logOut()" class="mdl-button mdl-js-button mdl-js-ripple-effect">
        Logout
      </button>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        <span class="username">{{username}}</span>
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <span class="mdl-navigation__link">
        <span class="queue-name">{{ queue.qdo_result.name }}</span>
      </span>
      <a class="mdl-navigation__link running-link" href="">
        <i class="material-icons">assignment</i>
        <span class="highlight-number">{{ ntasks(queue.qdo_result) }}</span><br>
        <span>tasks in queue</span>
      </a>
      <a class="mdl-navigation__link failed-link" href="">
        <i class="material-icons">assignment</i>
        <i class="material-icons overlay">clear</i>
        <span class="highlight-number">{{ ntasks(queue.qdo_result, 'Failed') }}</span><br>
        <span>tasks failed</span>
      </a>
      <a class="mdl-navigation__link succeeded-link" href="">
        <i class="material-icons">assignment_turned_in</i>
        <span class="highlight-number">{{ ntasks(queue.qdo_result, 'Succeeded') }}</span><br>
        <span>tasks succeeded</span>
      </a>
      <a class="mdl-navigation__link pending-link" href="">
        <i class="material-icons">assignment_late</i>
        <span class="highlight-number">{{ ntasks(queue.qdo_result, 'Pending') }}</span><br>
        <span>tasks pending</span>
      </a>
      <a class="mdl-navigation__link waiting-link" href="">
        <i class="material-icons">assignment</i>
        <i class="material-icons overlay">access_time</i>
        <span class="highlight-number">{{ ntasks(queue.qdo_result, 'Waiting') }}</span><br>
        <span>tasks waiting</span>
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <section class="mdl-grid qdo-page mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col js-queue-page queue-page relative">
      <h4>{{ queue.qdo_result.name }}</h4>
      <span class="state {{queue.qdo_result.state}}">{{ queue.qdo_result.state }}</span>
      <!--span>{{ ntasks(queue.qdo_result) }}</span-->
      
      <menu class="action-bar">
        <button ng-if="isPaused(queue)" ng-click="resume()" id="resume" class="mdl-button mdl-js-button mdl-button--icon" title="Resume queue">
          <span class="material-icons">play_arrow</span>
        </button>
        <button ng-if="isActive(queue)" ng-click="pause()" id="pause" class="mdl-button mdl-js-button mdl-button--icon" title="Pause queue">
          <span class="material-icons">pause</span>
        </button>
        <button ng-click="rerun()" id="rerun" class="mdl-button mdl-js-button mdl-button--icon" title="Rerun tasks">
          <span class="material-icons">refresh</span>
        </button>
        <button ng-click="retry()" id="retry" class="mdl-button mdl-js-button mdl-button--icon" title="Retry failed queue">
          <span class="material-icons">replay</span>
        </button>
        <button id="delete" ng-click="deleteQueue()" class="mdl-button mdl-js-button mdl-button--icon" title="Delete queue">
          <span class="material-icons">clear</span>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored add-task-btn" ng-click="toggleCreateTaskPage()" title="Add Task">
          <i class="icon-add20 material-icons"></i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored launch-queue-btn" ng-click="toggleLaunchQueuePage()" title="Launch Queue">
          <b class="icon-rocketship4 material-icons"></b>
        </button>
      </menu>
      <div class="mdl-textfield mdl-js-textfield js-search-btn search-btn mdl-textfield--expandable search-task-btn">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="searchTasks">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="searchTasks" ng-model="searchTaskText" placeholder="Search for tasks"/>
          <label class="mdl-textfield__label" for="searchTasks"></label>
        </div>
      </div>
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../pagination/dirPagination.tpl.html"></dir-pagination-controls>
      <table class="qdo-table">
        <thead>
          <tr>
            <th ng-click="sortField = 'task'; sortReverse = !sortReverse">
              Task
              <i class="material-icons" ng-show="sortField == 'task' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'task' && sortReverse">arrow_drop_down</i>
            </th>
            <th ng-click="sortField = 'id'; sortReverse = !sortReverse" class="task-id">
              Task ID
              <i class="material-icons" ng-show="sortField == 'id' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'id' && sortReverse">arrow_drop_down</i>
            </th>
            <th ng-click="sortField = 'state'; sortReverse = !sortReverse">
              State
              <i class="material-icons" ng-show="sortField == 'state' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'state' && sortReverse">arrow_drop_down</i>
            </th>
            <th ng-click="sortField = 'err'; sortReverse = !sortReverse">
              Error Code
              <i class="material-icons" ng-show="sortField == 'err' && !sortReverse">arrow_drop_up</i>
              <i class="material-icons" ng-show="sortField == 'err' && sortReverse">arrow_drop_down</i>
            </th>
          </tr>
        </thead>
        <tr dir-paginate="queueTask in queueTaskDetails | itemsPerPage: 10 | orderBy:sortField:sortReverse | filter:searchTaskText">
          <td>
            <a href="{{ queueTask.detail_url }}">{{ queueTask.task }}</a>
          </td>
          <td>
            <span class="task-id">{{ queueTask.id }}</span>
            <!-- re enable later -->
            <!--img class="img-icon text-to-copy" src="../images/copy.png"-->
          </td>
          <td>{{ queueTask.state }}</td>
          <td>{{ queueTask.err }}</td>
        </tr>
      </table>
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </section>
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col js-add-task-dialog add-task-dialog">
      <button class="mdl-button mdl-js-button" ng-click="toggleCreateTaskPage()">
        < Back
      </button>
      <div class="ta-c">
      <h5>Add Tasks to {{queue.qdo_result.name}}</h5>
      <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ng-model="newTask"></textarea>
          <label class="mdl-textfield__label" for="sample5">Task(s)</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea class="mdl-textfield__input" type="text" rows= "3" id="sample5" ng-model="priority"></textarea>
          <label class="mdl-textfield__label" for="sample3">Priority</label>
        </div>
        <div class="button-bar">
          <input type="submit" value="Go" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="addTask()">
          <button ng-click="toggleCreateTaskPage()" class="mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
        </div>
      </form>
    </section>
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col js-launch-queue-dialog launch-queue-dialog">
      <button class="mdl-button mdl-js-button" ng-click="toggleLaunchQueuePage()">
        < Back
      </button>
      <div class="ta-c">
      <h5>Launch {{queue.qdo_result.name}}</h5>
      <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3" ng-model="walltime"/>
          <label class="mdl-textfield__label" for="sample3">Walltime</label>
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect full-width" id="host-select-toggle">
            <span ng-if="hostName">{{hostName}}</span>
            <span ng-if="!hostName">Select Host</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect full-width"
              for="host-select-toggle">
            <li class="mdl-menu__item" ng-click="hostName = 'Edison'">Edison</li>
            <li class="mdl-menu__item" ng-click="hostName = 'Hopper'">Hopper</li>
            <li class="mdl-menu__item" ng-click="hostName = 'Cori'">Cori</li>
          </ul>
        </div>
        <div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect full-width" id="batch-queue-toggle">
            <span ng-if="batchQueue">{{batchQueue}}</span>
            <span ng-if="!batchQueue">Batch Queue</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect full-width"
              for="batch-queue-toggle">
            <li class="mdl-menu__item" ng-click="batchQueue = 'Regular'">Regular</li>
            <li class="mdl-menu__item" ng-click="batchQueue = 'Debug'">Debug</li>
            <li class="mdl-menu__item" ng-click="batchQueue = 'Other'">Other</li>
          </ul>
        </div>
        <div class="mdl-textfield mdl-js-textfield" ng-if="batchQueue == 'Other'">
          <input class="mdl-textfield__input" type="text" id="sample1" ng-model="batchQueue"/>
          <label class="mdl-textfield__label" for="sample1">Batch Queue</label>
        </div>
        
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked />
          <span class="mdl-checkbox__label">Multithreaded Worker</span>
        </label>

        <div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect full-width" id="parallelization-toggle">
            <span ng-if="parallelization">{{parallelization}}</span>
            <span ng-if="!parallelization">Worker Internal Parallelization</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect full-width"
              for="parallelization-toggle">
            <li class="mdl-menu__item" ng-click="parallelization = 'Single Threaded'">Single Threaded</li>
            <li class="mdl-menu__item" ng-click="parallelization = 'Non MPI Parallelized'">Non MPI Parallelized</li>
            <li class="mdl-menu__item" ng-click="parallelization = 'MPI Parallelized'">MPI Parallelized</li>
          </ul>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3" ng-model="nworkers" value="{{nworkers}}" />
          <label class="mdl-textfield__label" for="sample3">Number of workers</label>
        </div>
        <a class="pointer">Advanced Parameters</a>
        <div class="button-bar">
          <input type="submit" value="Launch" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="launchQueue()">
          <button ng-click="toggleLaunchQueuePage()" class="mdl-button mdl-js-button mdl-js-ripple-effect">Cancel</button>
        </div>
      </form>
    </section>
  </main>
  <script>
    $( ".mdl-tooltip" ).tooltip();
    var btn = document.getElementsByClassName('mdl-js-textfield');
    componentHandler.upgradeElements(btn);
    var menu = document.getElementsByClassName('mdl-js-menu');
    componentHandler.upgradeElements(menu);
  </script>