  <i data-page="queues"></i>
  <header class="qdo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <a href="/index.html#/home/{{username}}">
        <span class="mdl-layout-title">qdo</span>
      </a>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable search-btn js-search-btn">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search"/>
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <button ng-click="logOut()" class="logout-btn" id="logout-btn">
        <img src="../images/logout.png">
      </button>
      <div class="mdl-tooltip multi-del-tooltip" for="logout-btn">Logout</div>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        <span>{{username}}</span>
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <li class="mdl-menu__item">hello@example.com</li>
          <li class="mdl-menu__item">info@example.com</li>
          <!-- <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li> -->
        </ul>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href="">{{nqueues}} queues running</a>
      <a class="mdl-navigation__link" href="">{{ntasks()}} tasks running</a>
      <a class="mdl-navigation__link" href="">{{ntasks('*','Failed')}} tasks failed</a>
      <a class="mdl-navigation__link" href="">{{ntasks('*','Succeeded')}} tasks succeeded</a>
      <a class="mdl-navigation__link" href="">{{ntasks('*','Pending')}} tasks pending</a>
      <a class="mdl-navigation__link" href="">{{ntasks('*','Waiting')}} tasks waiting</a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col">
      <span>{{pageState}}</span>
      <span dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../pagination/dirPagination.tpl.html" pagination-id="q1"></span>
      <div dir-paginate="queue in queues | itemsPerPage : 10" class="queue-info" pagination-id="q1">
            
        <a ng-href="/index.html#/home/{{username}}/queues/{{queue.name}}"> {{ queue.name }} </a>
        <span>{{ queue.state }}</span>
        <span>{{ ntasks(queue) }}</span>
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%">
          </div>
          <div class="progress-bar" style="width: {{ percent(queue, 'Running') }}%">
          </div>
          <div class="progress-bar progress-bar-warning" style="width: {{ percent(queue, 'Waiting') }}%">
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{ percent(queue, 'Failed') }}%">
          </div>
          <div class="progress-bar progress-bar-info" style="width: {{ percent(queue, 'Pending') }}%">
          </div>
        </div>
        <span>{{tasks[$index].length}}</span>

        <div dir-paginate="task in tasks[$index] | itemsPerPage: 10" pagination-id="{{$index}}">
          <div ng-if="task.state == 'Pending'">
            <span>{{task.id}}</span>
          </div>
        </div>
        <i dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../pagination/dirPagination.tpl.html" pagination-id="t1"></i>
        <!--/div-->
      </div>
      <span dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="../pagination/dirPagination.tpl.html" pagination-id="q1"></span>
    </section>
    <section class="mdl-grid demo-content mdl-shadow--2dp mdl-color--white mdl-cell--12-col create-queue-page js-create-queue-page">
      <h2>Create Queue</h2>
      <form>
        <span>Queue Name:</span>
        <input type="text">
        <span>Queue Name:</span>
        <input type="text">
        <input type="submit" value="Go">
        <button ng-click="toggleCreateQueuePage()">Cancel</button>
      </form>
    </section>
  </main>



<!-- DELETE MODAL WINDOWs-->
<!--uses angularjs  ng-modal to create a dialog window-->
<script type="text/ng-template" id="deleteSuccessfulQueueModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
      <p>Are you sure you want to delete these queues? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
      <img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>
      <span class="pull-right">
        <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button> 
        <!--ng-click called a controller function-->
        <button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>
  <script type="text/javascript">
    componentHandler.upgradeElements($('.mdl-tooltip').get());
    componentHandler.upgradeElements($('.mdl-js-checkbox').get());
    componentHandler.upgradeElements($('.mdl-tooltip').get());
    componentHandler.upgradeElements($('.js-search-btn').get());
  </script>


