<!--html template for the queue details page. child html template or 'partial html'-->



<script src="js/queueTaskDetailsDataTable.js"></script> <!--DataTables Javascript code pertaining to the queueTaskDetails table is in this file-->
<link href="./css/datatables.css" rel="stylesheet"> 

<button class="glyphicon text" style="float:right; margin-left:5px;" ng-click="logOut()" >Log out</button>
<!--ng-click is an angular directive used to called a controller function-->
<button class="glyphicon text" style="float:right" ng-click="goToUserhomePage()" >Home</button>

<h1 style="margin-bottom:3px;">{{queue.qdo_result.user}}'s {{ queue.qdo_result.name }} queue</h1> <!--curly brackets surround javascript code-->
<p class="lead" style="margin-bottom:3px;">{{ queue.qdo_result.name }} is 
  <span ng-if= "isPaused(queue)"> <!--ng-if is an angularjs directive. isPaused is a javascript $scope function in controllers.js-->
    <span class="waitingPaused">
      {{ queue.qdo_result.state }} <!--curly brackets surround javascript code-->
    </span>
  </span> 
  <span ng-if= "isActive(queue)"> <!--ng-if is an angularjs directive. isActive is a javascript $scope function-->
    <span class="runningActive">
      {{ queue.qdo_result.state }} <!--curly brackets surround javascript code-->
    </span>
  </span> 
  and has {{ queue.qdo_result.ntasks.Pending + queue.qdo_result.ntasks.Waiting }} tasks left to do. <!--curly brackets surround javascript code-->
</p>
<span ng-if= "failed(queue)"> <!--ng-if is an angularjs directive. isActive is a javascript $scope function-->
    <span class="glyphicon icon-red" style="margin-bottom:10px;"> {{queue.qdo_result.ntasks.Failed}} failed tasks.</span> <!--curly brackets surround javascript code-->
</span>


<!--Progress Bar code-->
<ul class="list-group">
    <li class="list-group-item">
      <span ng-if="succeeded(queue)" > <!--ng-if is an angularjs directive. succeeded is a javascript $scope function in controllers.js-->
        <span class="glyphicon glyphicon-ok successful"></span>
      </span>
      <span ng-if= "failed(queue)" > <!--ng-if is an angularjs directive. failed is a javascript $scope function in controllers.js-->
        <span class="glyphicon glyphicon-warning-sign failed"></span>
      </span>
      <span ng-if= "inProgress(queue) && isPaused(queue)" > <!--ng-if is an angularjs directive. inProgress/isPaused are javascript $scope functions in controllers.js-->
        <span class="glyphicon glyphicon-road waitingPaused"></span>
      </span>
      <span ng-if= "inProgress(queue) && isActive(queue)" > <!--ng-if is an angularjs directive. inProgress/isActive are javascript $scope functions in controllers.js-->
        <span class="glyphicon glyphicon-road runningActive"></span>
      </span>

      {{ queue.qdo_result.name }} <!--curly brackets surround javascript code-->

      <div class="progress pull-right" style="width: 80%">
        <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%">
          <span>{{ queue.qdo_result["ntasks"]["Succeeded"] }}</span> <!--curly brackets surround javascript code-->
        </div>
        <div class="progress-bar" style="width: {{ percent(queue, 'Running') }}%"> <!--dark blue-->
          <span>{{ queue.qdo_result["ntasks"]["Running"] }}</span> <!--curly brackets surround javascript code-->
        </div>
        <div class="progress-bar progress-bar-warning" style="width: {{ percent(queue, 'Waiting') }}%">
          <span>{{ queue.qdo_result["ntasks"]["Waiting"] }}</span> <!--curly brackets surround javascript code-->
        </div>
        <div class="progress-bar progress-bar-danger" style="width: {{ percent(queue, 'Failed') }}%">
          <span>{{ queue.qdo_result["ntasks"]["Failed"] }}</span> <!--curly brackets surround javascript code-->
        </div>
        <div class="progress-bar progress-bar-info" style="width: {{ percent(queue, 'Pending') }}%"> <!--light blue-->
          <span>{{ queue.qdo_result["ntasks"]["Pending"] }}</span> <!--curly brackets surround javascript code-->
        </div>
      </div> 
    </li>
</ul>



<!--ng-click is an angular directive used to called a controller function-->
<!--ng-if is an angular directive that will display an html elment depending on the truthfullness of the inner javascript value-->
<div style = "display:block;" >
    <button class="glyphicon text" type="button" ng-click="rerun()"> <span class="glyphicon-repeat runningActive"></span> Rerun all tasks</button>
  <span ng-if= "isActive(queue)" >
      <button class="glyphicon text" type="button" ng-click="pause()"> <span class="glyphicon-pause waitingPaused"></span> Pause queue</button>
  </span>
  <span ng-if= "isPaused(queue)" >
      <button class="glyphicon text" type="button" ng-click="resume()"><span class="glyphicon-play runningActive"></span> Resume queue</button>
  </span>
  <span ng-if= "failed(queue)" >
      <button class="glyphicon text" type="button" ng-click="retry()"> <span class="glyphicon-refresh runningActive"></span> Retry failed tasks</button>
  </span>
  <span ng-if= "hasRunningTask(queue)" >
      <button class="glyphicon text" type="button" ng-click="recover()"> <span class="glyphicon-step-backward runningActive"></span> Move running to pending</button>
  </span>
  <span ng-if="isActive(queue)">
      <!-- figure out what the ng-if shoudl be-->
      <button class="glyphicon text" type="button" ng-click="showHideLaunchDetails()"> <span class="glyphicon-play runningActive"></span>Launch workers</button>
  </span>


  <!-- qdo launch button -->
  <div ng-show ="showLaunchDetails">
    <br>
    <p>Please specify the following parameters to launch {{queue.qdo_result.name}} queue:</p>
    <form ng-submit="">
      <span>pack:</span>
      <input type="text" ng-model="pack"> <br><br>
      <span>mpack:</span>
      <input type="text" ng-model="mpack"> <br><br>
      <span>nworkers:</span>
      <input type="text" ng-model="nworkers"> <br><br>      
      <span>site (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="site"> <br><br>
      <span>script (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="script"> <br><br>
      <span>timeout (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="timeout"> <br><br>
      <span>runtime (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="runtime"> <br><br>
      <span>batchqueue (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="batchqueue"> <br><br>

      <span>walltime (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="walltime"> <br><br>
      <span>batch_opts (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="batch_opts"> <br><br>
      <span>verbose (Optional):</span>
      <input type="text" style = "margin-right:10px;"ng-model="verbose"> <br><br>
      <button class="glyphicon text" ng-click="launchQueue()" >Launch queue</button> 

    </form>

  </div>

  <!--color key-->
  <span style = "float: right;">
    Key: 
    <span class="successful">Succeeded</span>
    <span class="runningActive">Running</span>
    <span class="waitingPaused">Waiting</span>
    <span class="failed">Failed</span>
    <span class="pending">Pending</span>
  </span>
  
</div>


<!--Add Tasks code-->
<div style = "display:block; margin-top:10px;">
  <p>Enter a task below and hit "Add Task" to add a task to {{queue.qdo_result.name}} queue.</p> <!--curly brackets surround javascript code-->
  <form ng-submit=""> <!--ng-submit is an angularjs directive that allows an input element to do the action caused by on the button when pressing the enter key-->
    <span>Task:</span>
    <input type="text" style = "margin-right:10px;"ng-model="newTask"> <!--ng-model is an angularJS directive that stores the input in a $scope variable for that template-->
    <span>Priority (Optional):</span>
    <input type="text" ng-model="priority"> <!--ng-model is an angularJS directive that stores the input in a $scope variable for that template-->
    <button class="glyphicon text" ng-click="addTask()" >Add Task</button> <!--ng-click is an angular directive used to called a controller function-->
  <form>
</div>




<!--Task details table code-->
<div> <!--ng-click is an angular directive used to called a controller function-->
  <button style="margin-top:10px; margin-bottom:10px;" class="glyphicon text" type="button" ng-click="showHideTaskDetailsTable()"> Task Details:</button>
  <!--ng-if is an angular directive that will display an html elment depending on the truthfullness of the inner javascript value-->
  <div ng-if="showTaskDetailsTable" class= "container">
    <!--project-table called a directive that I made in directive.js pertaining to the table-->
    <table project-table id="queueTaskDetailsTable" aa-data="queueTaskDetails" class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" >
        <thead>
            <tr>
              <th>ID</th>
              <th>State</th>
              <th>Task</th>
              <th>Error Code</th>
              <!-- <th>Detailed UR</th> -->

            </tr>
        </thead>
        <tbody>
          
        </tbody>
    </table>         
  </div>
</div>









