<!--html template for the user home page displaying a list of all the queues. child html template or 'partial html'-->
<style>
@media screen and (min-width: 0px) {
  .progress{
  width: 20%;
  }
}

@media screen and (min-width: 150px) {
  .progress{
  width: 30%;
  }
}

@media screen and (min-width: 300px) {
  .progress{
  width: 40%;
  }
}

@media screen and (min-width: 450px) {
  .progress{
  width: 50%;
  }
}

@media screen and (min-width: 600px) {
  .progress{
  width: 60%;
  }
}

@media screen and (min-width: 850px) {
  .progress{
  width: 70%;
  }
}

@media screen and (min-width: 1150px) {
  .progress{
  width: 80%;
  }
}
</style>

  <header class="demo-header mdl-layout__header mdl-color--white mdl-color--grey-100 mdl-color-text--grey-600">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">qdo</span>
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="search" />
          <label class="mdl-textfield__label" for="search">Enter your query...</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li class="mdl-menu__item">Legal information</li>
      </ul>
    </div>
  </header>
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <div class="demo-avatar-dropdown">
        <span>hello@example.com</span>
        <div class="mdl-layout-spacer"></div>
        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons">arrow_drop_down</i>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
          <li class="mdl-menu__item">hello@example.com</li>
          <li class="mdl-menu__item">info@example.com</li>
          <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
        </ul>
      </div>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">inbox</i>Inbox</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">delete</i>Trash</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">report</i>Spam</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Forums</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">flag</i>Updates</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">local_offer</i>Promos</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">shopping_cart</i>Purchases</a>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">people</i>Social</a>
      <div class="mdl-layout-spacer"></div>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">help_outline</i></a>
    </nav>
  </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid demo-content">
    <section class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
      <table>
          <thead>
            <tr>
              <th>Table head</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ghjhjgj</td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
          <use xlink:href="#chart"/>
        </svg>
        <svg fill="currentColor" viewBox="0 0 500 250" class="demo-graph">
          <use xlink:href="#chart"/>
        </svg>
      </div>
      <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
        
        <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
          <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
            <h2 class="mdl-card__title-text">Updates</h2>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Non dolore elit adipisicing ea reprehenderit consectetur culpa.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Read More</a>
          </div>
        </div>
        <div class="demo-separator mdl-cell--1-col"></div>
        <div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
          <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
            <h3>View options</h3>
            <ul>
              <li>
                <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Click per object</span>
                </label>
              </li>
              <li>
                <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox2" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Views per object</span>
                </label>
              </li>
              <li>
                <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox3" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Objects selected</span>
                </label>
              </li>
              <li>
                <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                  <input type="checkbox" id="chkbox4" class="mdl-checkbox__input" />
                  <span class="mdl-checkbox__label">Objects viewed</span>
                </label>
              </li>
            </ul>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--blue-grey-50">Change location</a>
            <div class="mdl-layout-spacer"></div>
            <i class="material-icons">location_on</i>
          </div>
        </div>
      </div>
    </div>
  </main>

<button class="glyphicon text" style="float:right" ng-click="logOut()" >Log out</button>
<!--ng-click is an angular directive used to called a controller function-->
<h1>Hello {{username}}, you have {{nqueues}} queues.</h1><!--curly brackets surround javascript code-->

    <p class="lead"> Click on the name of a queue to see a details page for that queue. </p>



    <!--The below section of code pertains to the list of progress bars-->
    <ul class="list-group">
        <li ng-repeat="queue in queues" class="list-group-item"><!--ng-repeat is an angularjs directive for 'while.' queues is a javascript $scope variable-->
          <!--icons depending on queue progress-->
          <span ng-if="succeeded(queue)" ><!--ng-if is an angularjs directive. succeeded is a javascript $scope function in controllers.js-->
            <span class="glyphicon glyphicon-ok successful"></span>
          </span>
          <span ng-if= "failed(queue)" > <!--ng-if is an angularjs directive. failed is a javascript $scope function in controllers.js-->
            <span class="glyphicon glyphicon-warning-sign failed"></span>
          </span>
          <span ng-if= "inProgress(queue) && isPaused(queue)" > <!--ng-if is an angularjs directive. inProgress/isPaused are javascript $scope functions in controllers.js-->
            <span class="glyphicon glyphicon-road waitingPaused"></span>
          </span>
          <span ng-if= "inProgress(queue) && isActive(queue)" > <!--ng-if is an angularjs directive. inProgress/isActive are javascript $scope functions in controllers.js-->
            <span class="glyphicon glyphicon-road runningActive"></span>
          </span>
          <!--link to the que details page-->
          <a ng-href="./qdo.html#/home/{{username}}/queues/{{queue.name}}"> {{ queue.name }} </a> <!--curly brackets surround javascript code-->

          <!--delete button -->

          <!--The below section of code pertains to makes the delete buttons that call a dialog window to appear and grey-out the main window-->
          <!--ng-dialog is an angular directive that pulls up the dialog template if deleteSucessfulQueueModal/deleteModal is true, a dialog template has it's own controller functions in controllers.js, templates for the two different dialog windows can be found below in scripts-->
          <span ng-if="succeeded(queue) || ntasks(queue)==0" > <!--ng-if is an angularjs directive. succeeded is a javascript $scope function-->
            <button type="button" ng-dialog="deleteSuccessfulQueueModal" ng-dialog-controller="deleteQueueController" ng-dialog-show-close="false" class="pull-right glyphicon glyphicon-remove failed" ng-click="storeQueueName(queue.name)" style="margin-left:5px;"></button>
          </span><!--ng-click called a controller function-->
          <span ng-if="!succeeded(queue) && ntasks(queue)>0" > <!--ng-if is an angularjs directive. succeeded is a javascript $scope function-->
            <button type="button" ng-dialog="deleteModal" ng-dialog-controller="deleteQueueController" ng-dialog-show-close="false" class="pull-right glyphicon glyphicon-remove failed" ng-click="storeQueueName(queue.name)" style="margin-left:5px;"></button>
          </span><!--ng-click called a controller function-->


          <!-- pause button -->
          <span ng-if="isPaused(queue)"> <!--ng-if is an angularjs directive. succeeded is a javascript $scope function-->
            <button type="button" class="pull-right glyphicon glyphicon-play runningActive" ng-click="resume(queue.name)" style="margin-left:5px;"></button>
          </span><!--ng-click called a controller function-->

          <!-- resume button -->
          <span ng-if="isActive(queue)"> <!--ng-if is an angularjs directive. succeeded is a javascript $scope function-->
            <button type="button" class="pull-right glyphicon glyphicon-pause waitingPaused" ng-click="pause(queue.name)" style="margin-left:5px;"></button>
          </span><!--ng-click called a controller function-->




          <!--progress bars bootstrap styling-->
          <div class="progress pull-right">
            <div class="progress-bar progress-bar-success" style="width: {{ percent(queue, 'Succeeded') }}%"> <!--curly brackets surround javascript code-->
              <span>{{ queue["ntasks"]["Succeeded"] }}</span>
            </div>
            <div class="progress-bar" style="width: {{ percent(queue, 'Running') }}%"> <!--dark blue-->
              <span>{{ queue["ntasks"]["Running"] }}</span>
            </div>
            <div class="progress-bar progress-bar-warning" style="width: {{ percent(queue, 'Waiting') }}%">
              <span>{{ queue["ntasks"]["Waiting"] }}</span>
            </div>
            <div class="progress-bar progress-bar-danger" style="width: {{ percent(queue, 'Failed') }}%">
              <span>{{ queue["ntasks"]["Failed"] }}</span>
            </div>
            <div class="progress-bar progress-bar-info" style="width: {{ percent(queue, 'Pending') }}%"> <!--light blue-->
              <span>{{ queue["ntasks"]["Pending"] }}</span>
            </div>
          </div>   
        </li>
    </ul>




<!--color key-->
<div class="pull-right">
  Key: 
  <span class="successful">Succeeded</span>
  <span class="runningActive">Running</span>
  <span class="waitingPaused">Waiting</span>
  <span class="failed">Failed</span>
  <span class="pending">Pending</span>
</div>

<!--create new queue-->
<span class="pull-left">
  <p>Enter a new queue name below and hit "Create Queue" to get started with a fresh queue.</p>
  <form ng-submit=""> <!--ng-submit is an angularjs directive that allows an input element to do the action caused by on the button when pressing the enter key-->
    <input type="text" ng-model="newQueueName"> <!--ng-model is an angularJS directive that stores the input in a $scope variable for that template-->
    <button class="glyphicon text"  ng-click="createQueue()" >Create Queue</button> <!--ng-click called a controller function-->
  </form>
</span>



<!-- DELETE MODAL WINDOWs-->
<!--uses angularjs  ng-modal to create a dialog window-->
<script type="text/ng-template" id="deleteSuccessfulQueueModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
      <img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>
      <span class="pull-right">
        <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button> 
        <!--ng-click called a controller function-->
        <button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>

<script type="text/ng-template" id="deleteModal">
  <div class= "ng-modal-dialog">
    <div class = "ng-modal-dialog-content">
    <!--{//{queuename}} is passed in from the global variable created in storeQueueName(queuename) -->
      <p>Are you sure you want to delete your {{queuename}} queue? This action cannot be undone.</p> <!--curly brackets surround javascript code-->
      <p class="failed">WARNING: This queue has unfinished tasks.</p>
      <img ng-show="loading1" src="images/loading.gif" style="margin-left:25px;"></img>

      <span class="pull-right">
        <button class="glyphicon failed text" type="button" ng-click="deleteQueue()" style="margin-bottom:10px;"> Delete</button>
        <!--ng-click called a controller function-->
        <button class="glyphicon text" type="button" ng-click="closeDeleteModal()" style="margin-bottom:10px;"> Cancel</button>
      </span>
    </div>
  </div>
</script>




