@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?8gtz9k');
	src:url('../fonts/icomoon.eot?#iefix8gtz9k') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?8gtz9k') format('truetype'),
		url('../fonts/icomoon.woff?8gtz9k') format('woff'),
		url('../fonts/icomoon.svg?8gtz9k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add20:before {
	content: "\e600";
}
.icon-addition8:before {
	content: "\e601";
}
.icon-data22:before {
	content: "\e602";
}
.icon-data23:before {
	content: "\e603";
}
.icon-data102:before {
	content: "\e604";
}
.icon-exit:before {
	content: "\e605";
}
.icon-plussign15:before {
	content: "\e606";
}
.icon-rocketlaunch:before {
	content: "\e607";
}
.icon-rocketship4:before {
	content: "\e608";
}
.icon-stack13:before {
	content: "\e609";
}
