/* Color Palette */
/* END Color Palette */
/* Helper Classes */
/* line 12, ../sass/qdo.scss */
.ta-c {
  text-align: center !important;
}

/* line 16, ../sass/qdo.scss */
.ta-l {
  text-align: left !important;
}

/* line 20, ../sass/qdo.scss */
.ta-r {
  text-align: right !important;
}

/* line 24, ../sass/qdo.scss */
.img-icon {
  width: 20px;
}

/* line 28, ../sass/qdo.scss */
.relative {
  position: relative;
}

/* line 32, ../sass/qdo.scss */
.pointer {
  cursor: pointer;
}

/* line 36, ../sass/qdo.scss */
.state {
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
}
/* line 41, ../sass/qdo.scss */
.state.Active {
  background-color: #2296F3;
}
/* line 45, ../sass/qdo.scss */
.state.Paused {
  background-color: #FF9800;
}

/* line 50, ../sass/qdo.scss */
.ui-tooltip {
  background: rgba(10, 10, 10, 0.66) !important;
  box-shadow: 0px 0px 0px !important;
  border: 0px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px;
  border-radius: 2px !important;
}

/* line 57, ../sass/qdo.scss */
.ui-tooltip-content {
  background: transparent;
}

/* line 61, ../sass/qdo.scss */
a {
  text-decoration: none;
}

/* line 65, ../sass/qdo.scss */
.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
/* line 74, ../sass/qdo.scss */
.arrow.top {
  top: -16px;
  bottom: auto;
}
/* line 78, ../sass/qdo.scss */
.arrow.top:after {
  bottom: -20px;
  top: auto;
}
/* line 84, ../sass/qdo.scss */
.arrow.left {
  left: 20%;
}
/* line 88, ../sass/qdo.scss */
.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: rgba(10, 10, 10, 0.66);
}

/* line 104, ../sass/qdo.scss */
form .mdl-textfield {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 111, ../sass/qdo.scss */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
/* line 117, ../sass/qdo.scss */
.pagination > li {
  display: inline;
}

/* END Helper Classes */
/* line 124, ../sass/qdo.scss */
.progress {
  margin: 10px auto;
}

@media screen and (min-width: 0px) {
  /* line 129, ../sass/qdo.scss */
  .progress {
    width: 20%;
  }
}
@media screen and (min-width: 150px) {
  /* line 135, ../sass/qdo.scss */
  .progress {
    width: 30%;
  }
}
@media screen and (min-width: 300px) {
  /* line 141, ../sass/qdo.scss */
  .progress {
    width: 40%;
  }
}
@media screen and (min-width: 450px) {
  /* line 147, ../sass/qdo.scss */
  .progress {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  /* line 153, ../sass/qdo.scss */
  .progress {
    width: 60%;
  }
}
@media screen and (min-width: 850px) {
  /* line 159, ../sass/qdo.scss */
  .progress {
    width: 70%;
  }
}
@media screen and (min-width: 1150px) {
  /* line 165, ../sass/qdo.scss */
  .progress {
    width: 80%;
  }
}
/* line 170, ../sass/qdo.scss */
.progress-bar {
  min-height: 15px;
  display: inline-block;
}

/* line 175, ../sass/qdo.scss */
.progress-bar-running {
  background-color: #2296F3;
}

/* line 179, ../sass/qdo.scss */
.progress-bar-success {
  background-color: #009688;
}

/* line 183, ../sass/qdo.scss */
.progress-bar-waiting {
  background-color: #FF9800;
}

/* line 187, ../sass/qdo.scss */
.progress-bar-pending {
  background-color: #9E9E9E;
}

/* line 191, ../sass/qdo.scss */
.progress-bar-failed {
  background-color: #D32E2E;
}

/* line 195, ../sass/qdo.scss */
body {
  color: #458699;
}

/* line 200, ../sass/qdo.scss */
nav {
  padding-top: 0 !important;
}
/* line 203, ../sass/qdo.scss */
nav a {
  position: relative;
  padding: 16px 20px !important;
}
/* line 208, ../sass/qdo.scss */
nav a:hover .material-icons {
  color: #37474F !important;
}
/* line 212, ../sass/qdo.scss */
nav a:hover .overlay {
  background-color: #37474F !important;
  color: #00BCD4 !important;
}
/* line 218, ../sass/qdo.scss */
nav a.running-link {
  background-color: #2296F3;
}
/* line 222, ../sass/qdo.scss */
nav a.failed-link {
  background-color: #D32E2E;
}
/* line 226, ../sass/qdo.scss */
nav a.succeeded-link {
  background-color: #009688;
}
/* line 230, ../sass/qdo.scss */
nav a.pending-link {
  background-color: #9E9E9E;
}
/* line 234, ../sass/qdo.scss */
nav a.waiting-link {
  background-color: #FF9800;
}
/* line 238, ../sass/qdo.scss */
nav a .material-icons {
  margin-right: 16px !important;
}
/* line 242, ../sass/qdo.scss */
nav a .highlight-number {
  font-size: 28px;
  width: 36px;
  text-align: right;
  margin-right: 5px;
  line-height: 30px;
}
/* line 250, ../sass/qdo.scss */
nav a .big-highlight-number {
  font-size: 36px;
  text-align: left;
  margin-right: 20px;
}
/* line 257, ../sass/qdo.scss */
nav .queue-name {
  font-size: 18px;
}
/* line 261, ../sass/qdo.scss */
nav .overlay {
  margin: 4px 0 0 -36px;
  z-index: 2;
  font-size: 16px !important;
  height: 16px;
  line-height: 16px;
  color: #37474F !important;
  background-color: #A7AEB2 !important;
}

/* line 273, ../sass/qdo.scss */
header .username {
  font-size: 16px;
}

/* line 279, ../sass/qdo.scss */
.qdo-header .logout-btn {
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border-radius: 64px;
  margin: 0 4px;
}
/* line 287, ../sass/qdo.scss */
.qdo-header .logout-btn:hover {
  background-color: #dedede;
}
/* line 291, ../sass/qdo.scss */
.qdo-header .logout-btn img {
  width: 16px;
  background-color: transparent;
  border: none;
  margin-top: -4px;
}

/* line 301, ../sass/qdo.scss */
menu .add-task-btn {
  position: absolute;
  right: 72px;
  top: -20px;
}
/* line 306, ../sass/qdo.scss */
menu .add-task-btn i {
  font-size: 20px;
  margin-left: 1px;
  margin-top: 1px;
}

/* line 318, ../sass/qdo.scss */
main > section.mdl-grid {
  margin-top: 32px;
}
/* line 322, ../sass/qdo.scss */
main > section > div, main > section > table {
  width: 95%;
  margin: 0 auto;
}
/* line 329, ../sass/qdo.scss */
main .queue-page .state {
  vertical-align: middle;
  margin: 24px 15px;
}
/* line 334, ../sass/qdo.scss */
main .queue-page .search-task-btn {
  position: absolute;
  right: 5%;
}
/* line 340, ../sass/qdo.scss */
main .create-queue-page {
  display: none;
  padding: 50px;
}
/* line 345, ../sass/qdo.scss */
main .create-queue-page h4 button {
  font-size: 16px;
  font-weight: 300;
  margin-top: -3px;
  color: #323232;
}
/* line 354, ../sass/qdo.scss */
main .create-queue-btn, main .launch-queue-btn {
  position: absolute;
  right: 20px;
  top: -20px;
}
/* line 360, ../sass/qdo.scss */
main .qdo-page {
  padding: 20px;
}
/* line 364, ../sass/qdo.scss */
main .multi-select-bar, main .action-bar {
  padding-left: 0;
  width: 100%;
}
/* line 369, ../sass/qdo.scss */
main .pagination {
  margin: 0;
}
/* line 375, ../sass/qdo.scss */
main .qdo-table .wide-col {
  width: 200px;
}
/* line 380, ../sass/qdo.scss */
main .qdo-table thead th {
  border-right: none;
  border-left: none;
}
/* line 384, ../sass/qdo.scss */
main .qdo-table thead th .material-icons {
  vertical-align: inherit;
}
/* line 392, ../sass/qdo.scss */
main .qdo-table tr:hover .queue-controls {
  display: block;
  opacity: 1;
}
/* line 397, ../sass/qdo.scss */
main .qdo-table tr:hover td {
  padding-top: 15px;
}
/* line 403, ../sass/qdo.scss */
main .qdo-table .task-id {
  max-width: 200px;
  text-overflow: ellipsis;
}
/* line 409, ../sass/qdo.scss */
main .qdo-table tbody td {
  border-right: none;
  border-left: none;
  padding: 0 16px;
  vertical-align: middle;
}
/* line 416, ../sass/qdo.scss */
main .qdo-table tbody td .queue-controls {
  padding: 5px 0;
}
/* line 420, ../sass/qdo.scss */
main .qdo-table tbody td .queue-controls .mdl-button--icon .material-icons {
  font-size: 18px;
}
/* line 429, ../sass/qdo.scss */
main .queue-controls {
  display: none;
  opacity: 0;
  transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
}
/* line 439, ../sass/qdo.scss */
main .button-bar input, main .button-bar button {
  display: block;
  text-align: center;
  margin: 10px auto;
}
/* line 446, ../sass/qdo.scss */
main .button-bar input[type="submit"] {
  width: 300px;
}
/* line 451, ../sass/qdo.scss */
main .queue-info {
  width: 100%;
}
/* line 454, ../sass/qdo.scss */
main .queue-info .progress {
  max-width: 100px;
  display: inline-block;
  margin: 0;
}
/* line 461, ../sass/qdo.scss */
main .add-task-dialog, main .launch-queue-dialog {
  display: none;
  padding: 50px;
}
/* line 465, ../sass/qdo.scss */
main .add-task-dialog .mdl-textfield, main .launch-queue-dialog .mdl-textfield {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 471, ../sass/qdo.scss */
main .add-task-dialog .full-width, main .launch-queue-dialog .full-width {
  width: 300px;
}

/* line 478, ../sass/qdo.scss */
ul.search-results {
  list-style: none;
  padding: 10px 15px;
  background: white;
  position: absolute;
  top: 55px;
  right: -10px;
  width: 200px;
  border: 1px solid #ccc;
  max-height: 160px;
  overflow: scroll;
  box-shadow: 1px 1px 2px rgba(32, 32, 32, 0.3);
}

/* line 494, ../sass/qdo.scss */
.search-btn label {
  bottom: 15px !important;
}
/* line 498, ../sass/qdo.scss */
.search-btn .mdl-textfield__expandable-holder {
  margin-left: 36px;
}
